* 
{
  margin: 0;
  padding: 0;
}

main {
  
  margin: 0 auto;
}

/*------header-----------------*/

header h1 {
  text-align: center;
  margin: 15px;
}

/*-----------------------*/


.flexbox-section {
  display: column;
  
}

 h2 {
  margin: 15px;
 }

.flexbox-list {
  
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  
}

/*---------item--------------*/

.flexbox-item {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.flexbox-item img {
  overflow: hidden;
  
}

